doctype transitional
html(xmlns="http://www.w3.org/1999/xhtml")
  head
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    meta(name="format-detection", content="telephone=no")
    meta(name="viewport", content="width=device-width; initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="IE=9; IE=8; IE=7; IE=EDGE")

    title Your Flyt key

  body
    style(type="text/css").
      /* Reset */
      * { overflow-x: wrap; }
      #outlook a { padding:0; }
      body{ width:100% !important; -webkit-text; size-adjust:100%; -ms-text-size-adjust:100%; margin:0; padding:0; }     
      .ReadMsgBody { width: 100%; }
      .ExternalClass { width:100%; } 
      .backgroundTable { margin:0 auto; padding:0; width:100%;!important; } 
      table td { border-collapse: collapse; }
      .ExternalClass * { line-height: 115%; }
      /* End reset */
      a:visited { font-weight: 600 !important; text-decoration: none !important; color: #607d8b !important; }

    table(align="center", border="0", cellpadding="0", cellspacing="0", style="margin: 20px 0; margin-top: 20px; margin-bottom: 20px; padding: 0; min-width: 280px", width="100%")
      tr
        td(style="text-align: center; margin: 0;")
          table(align="center", border="0", cellpadding="0", cellspacing="0", style="margin: 0; padding: 0; text-align: left;", width="256")
            tr
              td(style="color: #000000; margin: 0; margin-bottom: 20px; padding: 0;", valign="top", width="256")
                br(style="margin-bottom: -1em")
                h1(style="font-family: sans-serif; margin: 0; padding: 0")
                  img(alt="Flyt", src="#{logo}", width="120", height="48")
      tr
        td(style="text-align: center; margin: 0; margin-bottom: 20px")
          table(align="center", border="0", cellpadding="0", cellspacing="0", style="margin: 0; padding: 0; text-align: left", width="240")
            tr
              td(style="font-family: sans-serif; color: #000000; margin: 0 8px 20px 8px; margin-left: 8px; margin-bottom: 20px; margin-right: 8px; text-align: left", valign="top")
                br(style="margin-bottom: -1em")
                | Hello! Your key is 
                h2(style="font-family: sans-serif; color: #607D8B; margin: 0 0 8px; margin-bottom: 8px; padding: 0")= key
                | and it is valid until
                h2(style="font-family: sans-serif; color: #607D8B; margin: 0 0 8px; margin-bottom: 8px; padding: 0")= expiry
            tr
              td(style="margin: 0 20px 20px 20px; margin-bottom: 20px; margin-left: 20px; margin-right: 20px; padding: 0", width="240")
                br(style="margin-bottom: -1em")
                table(bgcolor="#607D8B", border="0", cellpadding="0", cellspacing="0", style="margin: 0; padding: 0", width="100%")
                  td(border="0", cellpadding="0", cellspacing="0", style="line-height: 2em; text-align: center;")
                    a(href="#{link}", style="font-family: sans-serif; font-weight: bold; text-decoration: none; color: #ffffff; width: 100%; display: inline-block") &emsp;&emsp;LOGIN&emsp;&emsp;
            tr
              td(style="margin: 0; padding: 0; text-align: center")
                br(style="margin-bottom: -1em")
                small(style="font-family: sans-serif; color: #90A4AE") Made by James Daly &ndash; 
                  a(href="font-family: sans-serif; https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=PWYMFK3L52TS2") Buy me a coffee
                br